doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/home/home
  include ../components/offer/offer
  include ../components/save/save
  include ../components/advantages/advantages
  include ../components/price/price
  include ../components/contract/contract
  include ../components/reviews/reviews
  include ../components/virew/virew
  include ../components/sertificates/sertificates
  include ../components/portfolio/portfolio
  include ../components/quiz/quiz
  include ../components/any/any
  include ../components/contacts/contacts
  include ../components/footer/footer
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    +header()

    +home()

    +offer()

    +save()

    +advantages()

    +price()

    +contract()

    +reviews()

    +virew()

    +sertificates()

    +portfolio()

    +quiz()

    +any()

    +contacts()

    +footer()


    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')