mixin contract()
  section.contract
    .content
      .title
        h2 
          span Заключаем
          |  договор поставки.
          br
          span Выдаём  
          | закрывающие документы
    
      .contract-tagline
        h3 Схема работы:

      .contract-items

        .contract-item
          .contract-item__photo
            .contract-item__number 1
            img(src="static/img/assets/contract/c1.png", alt="")
          .contract-item__title
            h3 Переговоры
          .contract-item__text
            p Мы выясним все детали заказа, включая нужную модель, комплектацию двигателя и Ваш бюджет, чтобы определить окончательную цену и сроки
        
        .contract-item
          .contract-item__photo
            .contract-item__number 2
            img(src="static/img/assets/contract/c2.png", alt="")
          .contract-item__title
            h3 Наше предложение
          .contract-item__text
            p Вышлем наше предложение Вам на электронную почту, в мессенджеры или сообщим по телефону — как Вам будет удобнее
        
        .contract-item
          .contract-item__photo
            .contract-item__number 3
            img(src="static/img/assets/contract/c3.png", alt="")
          .contract-item__title
            h3 Работы
          .contract-item__text
            p Подбор и подготовка двигателя в соответствии с выбранным Вами вариантом
        
        .contract-item
          .contract-item__photo
            .contract-item__number 4
            img(src="static/img/assets/contract/c4.png", alt="")
          .contract-item__title
            h3 Упаковка и доставка
          .contract-item__text
            p Делаем обрешётку и отправляем готовый двигатель к Вам вместе со всеми необходимыми документами