body
  min-width: 320px
  overflow-x hidden
  font-family $Light
  color $gr


h1,
h2
  font-size 40px
  line-height 55px
  color $bk
  font-family $Light
  span
    font-family $Bold

h3
  font-size 30px
  line-height 36px
  color $bk
  font-family $Bold
  letter-spacing: 0.01em

p
  font-size 20px
  line-height 26px
  font-family $Light
  color $gr

a
  text-decoration none
  