mixin offer(data)
  section.offer
    .offer-element
      img(src="static/img/assets/offer/bottom.png", alt="")
    .content
      .title
        h2 Предложим варианты двигателей,
          br
          span исходя из Ваших целей и бюджета
    

      .offer-items

        .offer-item
          .offer-item__photo
            img(src="static/img/assets/offer/off1.jpg", alt="")
          .offer-item__title
            h3 После капитального ремонта
          .offer-item__text
            p Это полноценное восстановление двигателей, включающее ремонт ГРМ, систем охлаждения, смазки и топлива, а также замену прокладок и выбракованных деталей.
          .offer-item__price
            span От 200 000 рублей


        .offer-item
          .offer-item__photo
            img(src="static/img/assets/offer/off2.jpg", alt="")
          .offer-item__title
            h3 Индивидуальной сборки
          .offer-item__text
            p Такой двигатель по ресурсу ничем не отличается от нового заводского, на 80% состоит из новых деталей, но стоит до 50% дешевле. Мы емонтируем только блок, ТНВД, головки и коленвал.
          .offer-item__price
            span От 350 000 рублей

      
      .video
        .video-title
          h3.text-blue Посмотрите видео о нашей компании
          span Время просмотра 2 минуты
        
        .video-wrapper

          a(href="https://www.youtube.com/watch?v=RBumgq5yVrA")
            img(src="static/img/assets/offer/video.jpg", alt="")