mixin portfolio(data)
  section.portfolio
    .content
      .title
        h2 Посмотрите 
          span примеры двигателей 
          |  при отправке 
      
      
      .portfolio-items

        a(href="static/img/assets/portfolio/p1b.jpg" data-fancybox).portfolio-item
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p1.jpg")
          .portfolio-item__name Модель: 
            span ЯМЗ 6511
        
        a(href="static/img/assets/portfolio/p2b.jpg" data-fancybox).portfolio-item
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p2.jpg")
          .portfolio-item__name Модель: 
            span ЯМЗ 6511
        
        a(href="static/img/assets/portfolio/p3.jpg" data-fancybox).portfolio-item
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p3.jpg")
          .portfolio-item__name Модель: 
            span ЯМЗ 6511
        
         a(href="static/img/assets/portfolio/p1b.jpg" data-fancybox).portfolio-item
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p1.jpg")
          .portfolio-item__name Модель: 
            span ЯМЗ 6511
        
        a(href="static/img/assets/portfolio/p2b.jpg" data-fancybox).portfolio-item
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p2.jpg")
          .portfolio-item__name Модель: 
            span ЯМЗ 6511
        
        a(href="static/img/assets/portfolio/p3.jpg" data-fancybox).portfolio-item
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p3.jpg")
          .portfolio-item__name Модель: 
            span ЯМЗ 6511
        
         a(href="static/img/assets/portfolio/p1b.jpg" data-fancybox).portfolio-item
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p1.jpg")
          .portfolio-item__name Модель: 
            span ЯМЗ 6511
        
        a(href="static/img/assets/portfolio/p2b.jpg" data-fancybox).portfolio-item
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p2.jpg")
          .portfolio-item__name Модель: 
            span ЯМЗ 6511
        
        a(href="static/img/assets/portfolio/p3.jpg" data-fancybox).portfolio-item
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p3.jpg")
          .portfolio-item__name Модель: 
            span ЯМЗ 6511
        
      .portfolio-more
        span Смотреть еще