mixin footer(data)
  footer.footer
    .footer
      .content
        .footer-wrapper

          //- Footer Item
          .footer-item
            .footer-item__title
              h3 Компания
            .footer-address
              address
                span ООО ДизельТрейд
                span 150044, г.Ярославль,
                  br
                  | ул. Промышленная,
                  br
                  | д.1, стр.3, оф.308
            
          
          //- Footer Item
          .footer-item
            .footer-item__title
              h3 Контакты
            .footer-contacts
              a(href="tel:+7 (4852) 58-20-70 ") +7 (4852) 58-20-70 
              a(href='tel:+7 (800) 700-03-74 ') +7 (800) 700-03-74  
              a(href='mailto:dizeltraid@mail.ru') dizeltraid@mail.ru 
              span ПН-ПТ 
          

          .footer-item.footer-item__column
            .footer-item__top
              .footer-item__title
                h3 Положения
            
            .footer-item__bottom
              .footer-item__links
                a(href="#") Политика конфиденциальности
                a(href="#") Согласие на обработку данных
            
              .footer-item__dev
                span Разрабокта сайта: 
                a(href="https://digital-mayak.ru/" target='_blank') digital-mayak.ru





  #popup-callback.popup.hidden
    .popup-title Укажите
      span  Ваш номер
      br
      span телефона, 
      |  мы свяжемся
      br
      | с Вами в 
      span ближайшее время
    
    form.form
      .form-group
        label Укажите Ваше имя
        input(type="text" placeholder="Как к Вам обращаться")
      .form-group
        label Номер телефона
        input(type="tel" placeholder="+7 (___) ___-__-__")
      .form-group
        button.button
          span Заказать звонок
      
      .form-group
        input(type="checkbox" checked required id='callback-check')
        label(for="callback-check") Я согласен на обработку персональных данных
  
  #popup-model.popup.hidden
    .popup-title Узнать стоимость двигателя
      br
      span [модель_ двигателя]
    form.form
      .form-group
        label Укажите Ваше имя
        input(type="text" placeholder="Как к Вам обращаться")
      .form-group
        label Номер телефона
        input(type="tel" placeholder="+7 (___) ___-__-__")
      .form-group
        button.button
          span Узнать стоимость и сроки поставки
      
      .form-group
        input(type="checkbox" checked required id='model-check')
        label(for="model-check") Я согласен на обработку персональных данных
  

  #popup-correct.popup.hidden
    .popup-title 
      span Введите корректный номер
    form.form
      .form-group
        input(type="tel" placeholder="+7 (___) ___-__-__")
      .form-group
        button.button
          span Скорректировать номер
      
      .form-group
        input(type="checkbox" checked required id='model-check')
        label(for="model-check") Я согласен на обработку персональных данных
  
  #reviews-pop.hidden.reviews-pop
    .reviews-slide
      .reviews-slide__item
        .reviews-slide__photo
          img(src="static/img/assets/reviews/rev.jpg",  id='rev-pop__img' alt="")
        .reviews-slide__text
          h3#rev-pop__name Филипп Иванов 
          span#rev-pop__trans Техника, на которую установили двигатель
          span#rev-pop__model Модель двигателя
          p#rev-pop__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu ip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.рую установили двигатель Модель двигателя
  