mixin footer(data)
  footer.footer
    .footer
      .content
        .footer-wrapper

          //- Footer Item
          .footer-item
            .footer-item__title
              h3 Компания
            .footer-address
              address
                span ООО ДизельТрейд
                span 150044, г.Ярославль,
                  br
                  | ул. Промышленная,
                  br
                  | д.1, стр.3, оф.308
            
          
          //- Footer Item
          .footer-item
            .footer-item__title
              h3 Контакты
            .footer-contacts
              a(href="tel:+7 (4852) 58-20-70 ") +7 (4852) 58-20-70 
              a(href='tel:+7 (800) 700-03-74 ') +7 (800) 700-03-74  
              a(href='mailto:dizeltraid@mail.ru') dizeltraid@mail.ru 
              span ПН-ПТ 
          

          .footer-item.footer-item__column
            .footer-item__top
              .footer-item__title
                h3 Положения
            
            .footer-item__bottom
              .footer-item__links
                a(href="#") Политика конфиденциальности
                a(href="#") Согласие на обработку данных
            
              .footer-item__dev
                span Разрабокта сайта: 
                a(href="https://digital-mayak.ru/" target='_blank') digital-mayak.ru





  #popup-callback.popup.hidden
    .popup-title Укажите
      span  Ваш номер
      br
      span телефона, 
      |  мы свяжемся
      br
      | с Вами в 
      span ближайшее время
    
    form.form
      .form-group
        label Укажите Ваше имя
        input(type="text" placeholder="Как к Вам обращаться")
      .form-group
        label Номер телефона
        input(type="tel" placeholder="+7 (___) ___-__-__")
      .form-group
        button.button
          span Заказать звонок
      
      .form-group
        input(type="checkbox" checked required id='callback-check')
        label(for="callback-check") Я согласен на обработку персональных данных
  
  #popup-model.popup.hidden
    .popup-title Узнать стоимость двигателя
      br
      span [модель_ двигателя]
    form.form
      .form-group
        label Укажите Ваше имя
        input(type="text" placeholder="Как к Вам обращаться")
      .form-group
        label Номер телефона
        input(type="tel" placeholder="+7 (___) ___-__-__")
      .form-group
        button.button
          span Узнать стоимость и сроки поставки
      
      .form-group
        input(type="checkbox" checked required id='model-check')
        label(for="model-check") Я согласен на обработку персональных данных
  

  #popup-correct.popup.hidden
    .popup-title 
      span Введите корректный номер
    form.form
      .form-group
        input(type="tel" placeholder="+7 (___) ___-__-__")
      .form-group
        button.button
          span Скорректировать номер
      
      .form-group
        input(type="checkbox" checked required id='model-check')
        label(for="model-check") Я согласен на обработку персональных данных