mixin virew(data)
  section.virew
    .content
      .title
        h2 Посмотрите  
          span видео-отзывы 
          |  наших покупателей


      .virew-items


        //- Virew Item
        .virew-item
          a(href="https://www.youtube.com/watch?v=RBumgq5yVrA" data-fancybox).virew-video
            img(src="static/img/assets/virew/image.jpg" alt="Video Reviews")
          h4.virew-title Сергей Иванов
          .virew-city г. Воронеж

        //- Virew Item
        .virew-item
          a(href="https://www.youtube.com/watch?v=RBumgq5yVrA" data-fancybox).virew-video
            img(src="static/img/assets/virew/image.jpg" alt="Video Reviews")
          h4.virew-title Сергей Иванов
          .virew-city г. Воронеж
        
        //- Virew Item
        .virew-item
          a(href="https://www.youtube.com/watch?v=RBumgq5yVrA" data-fancybox).virew-video
            img(src="static/img/assets/virew/image.jpg" alt="Video Reviews")
          h4.virew-title Сергей Иванов
          .virew-city г. Воронеж
        
        //- Virew Item
        .virew-item
          a(href="https://www.youtube.com/watch?v=RBumgq5yVrA" data-fancybox).virew-video
            img(src="static/img/assets/virew/image.jpg" alt="Video Reviews")
          h4.virew-title Сергей Иванов
          .virew-city г. Воронеж
        
        //- Virew Item
        .virew-item
          a(href="https://www.youtube.com/watch?v=RBumgq5yVrA" data-fancybox).virew-video
            img(src="static/img/assets/virew/image.jpg" alt="Video Reviews")
          h4.virew-title Сергей Иванов
          .virew-city г. Воронеж

        //- Virew Item
        .virew-item
          a(href="https://www.youtube.com/watch?v=RBumgq5yVrA" data-fancybox).virew-video
            img(src="static/img/assets/virew/image.jpg" alt="Video Reviews")
          h4.virew-title Сергей Иванов
          .virew-city г. Воронеж
     