@media screen and (max-width: 1440px)
  .contract-item__title
    h3
      font-size 25px
  .reviews-slide__item
    width: calc(100% - 100px)
  
  .slick-next
    right -10px
  .slick-prev
    left -10px

@media screen and (max-width: 1200px)
  .content
    width 950px
  .logo
    width 170px
  .header
    .logo
      margin-right 20px
    &-tagline
      span
        font-size 16px
    &-phone
      a
        font-size 16px
    &-worktime
      span
        font-size 16px
  .header-cnt:first-child
    margin-right 50px

  .home
    background-position 56% 

  .home
    &-title
      h1
        br
          display none
        span
          &:last-child
            display block
    &-adv
      &__text
        padding-right 8px
        span
          font-size 16px
          br
            display none


  .contract-item__title h3
    white-space: normal
  .reviews-slide__photo
    width 150px
    height 150px
  .reviews-slide__text
    width calc(100% - 165px)
  .quiz-form
    width 60%
  .footer span, .footer a
    font-size 20px
    line-height 40px

  h1, h2
    font-size 33px
    line-height 47px
  h3
    font-size 24px
    line-height 28px
  p
    font-size 16px
    line-height 20px
  
  .home
    height 850px
    &-adv
      &__text
        span  
          line-height 20px
      
  .offer
    &-item
      &__photo
        margin-bottom 30px
      &__title
        margin-bottom 10px
    
  .price-cell span
    font-size 18px
    line-height 24px
  .price-bottom__tl
    margin-right 50px
  .contract-item__title h3
    font-size 24px
  .contract-item__text p
    font-size: 16px
  section
    padding-top 50px
    padding-bottom 50px
  
  .title
    margin-bottom 50px
  select
    width 520px
  .quiz.showform 
    .form-row
      align-items center
      .form-group
        width 32%
        margin-right 2%
        &:nth-child(3)
          margin-right 0
        &:nth-child(4)
          margin-right 8%
          width 32%
          .button
            width 100%
            padding 0
            justify-content center
        &:nth-child(5)
          width 60%
          margin-right 0
  
  .any
    padding-top 50px
  
  .footer
    span,
    a
      font-size 16px
      line-height 30px

  .offer
    background-size 15%


@media screen and (max-width: 993px)
  .content
    width 740px
  
  .header
    &-tagline
      display none
    &-left
      width 200px
    &-right
      width calc(100% - 250px)
  .header-cnt:first-child
    margin-right 90px
  .home
    background-position 66%
    &-left
      width 70%
    &-title
      padding-bottom 50px
    &-advantages
      padding-bottom 50px
  h1, h2
    font-size 28px
    line-height 35px
  h3
    font-size 20px
    line-height 25px
  .home
    height 750px
  
  .offer
    &-items
      width 100%
    &-item
      padding-left 10px
      padding-right 10px
      &__photo
        width 100%
  .video-wrapper
    width 100%
  .save-item__photo
    width 100%
  .price-cell 
    padding 10px
    span,
    a
      font-size 14px
      line-height 20px

  .price-bottom
    flex-wrap: wrap
    &__tl
      margin-right 0
      margin-bottom 20px

  .contract
    padding-bottom 0
    &-items
      flex-wrap: wrap
    &-item
      width 50%
      margin-bottom 100px

    &-tagline
      margin-bottom 80px
  .virew-video
    height 200px
  .sertificates
    padding-bottom 50px
  .portfolio-item
    height 200px
  .quiz-title h3
    font-size 20px
  h4
    font-size 16px
    line-height 25px
  .any .subtitle h4
    line-height 25px
  .any-phones a
    font-size 30px
    
  
  select
    width 100%
  
  .quiz
    &-bottom
      flex-wrap: wrap
    &-form
      width 100%
      margin-bottom 20px
    &-controller
      width 100%
      justify-content center
  .quiz.showform 
    .form-row 
      align-items flex-end
      justify-content space-between
      .form-group
        width calc(50% - 10px)
        margin-right 0
        &:nth-child(4)
          margin-right 0
          width calc(50% - 10px)
        &:nth-child(5)
          width 100%
          margin-right 0
