mixin reviews(data)
  section.reviews
    .content
      
      .title
        h2 Мы отправили своим клиентам более 
          br
          span 3000 двигателей
      
      .reviews-tagline
        h3 Мы благодарны им за такие тёплые отзывы


      .reviews-slider

        .reviews-slides

          //- Reviews Slide
          .reviews-slide
            .reviews-slide__item
              .reviews-slide__photo
                img(src="static/img/assets/reviews/rev.jpg", alt="")
              .reviews-slide__text
                h3 Филипп Иванов
                span Техника, на которую установили двигатель
                span Модель двигателя
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                a(href="#") Смотреть полностью
          
          //- Reviews Slide
          .reviews-slide
            .reviews-slide__item
              .reviews-slide__photo
                img(src="static/img/assets/reviews/rev.jpg", alt="")
              .reviews-slide__text
                h3 Филипп Иванов №1
                span Техника, на которую установили двигатель
                span Модель двигателя
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                a(href="#") Смотреть полностью
          
          //- Reviews Slide
          .reviews-slide
            .reviews-slide__item
              .reviews-slide__photo
                img(src="static/img/assets/reviews/rev.jpg", alt="")
              .reviews-slide__text 
                h3 Филипп Иванов №2
                span Техника, на которую установили двигатель
                span Модель двигателя
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                a(href="#") Смотреть полностью
          

          //- Reviews Slide
          .reviews-slide
            .reviews-slide__item
              .reviews-slide__photo
                img(src="static/img/assets/reviews/rev.jpg", alt="")
              .reviews-slide__text
                h3 Филипп Иванов №3
                span Техника, на которую установили двигатель
                span Модель двигателя
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                a(href="#") Смотреть полностью