mixin advantages()
  section.advantages
    .content
      .title
        h2 Нам важно, чтобы Вы остались довольны
          br
          | качеством, 
          span  поэтому у нас:
      
      .advantages-image
        img(src="static/img/assets/advantages/cart.png", alt="Advantages")

      .advantages-items

        //- Advantages Item
        .advantages-item
          .advantages-item__icon
            img(src="static/img/assets/advantages/gear.svg", alt="Gear Icon")
          .advantages-item__text
            h3 Строгие стандарты
            p Закупаем ремфонды для восстановления не ниже определённого уровня качества. Например, мы смотрим, чтобы коленвал был не больше 1-го ремонта. Идеально — в номинале

         //- Advantages Item
        .advantages-item
          .advantages-item__icon
            img(src="static/img/assets/advantages/gear.svg", alt="Gear Icon")
          .advantages-item__text
            h3 Сервисная книжка
            p Знаем двигатели вдоль и поперёк. Вы получите от нас книжку с информацией по обслуживанию, чтобы Ваш двигатель прослужил как можно дольше

         //- Advantages Item
        .advantages-item
          .advantages-item__icon
            img(src="static/img/assets/advantages/gear.svg", alt="Gear Icon")
          .advantages-item__text
            h3 Оригинальные запчасти
            p Детали, необходимые для ремонта, используем только заводские

        //- Advantages Item
        .advantages-item
          .advantages-item__icon
            img(src="static/img/assets/advantages/gear.svg", alt="Gear Icon")
          .advantages-item__text
            h3 Опытные мотористы
            p У нас трудятся специалисты с Ярославского моторного завода с опытом работы от ХХ лет