.advantages
  padding-bottom 40px
  &-image
    display flex
    justify-content center
    align-items center
    margin-bottom 20px

  &-items
    display flex
    flex-wrap: wrap
    width calc(100% - 70px)
    margin 0 auto
  &-item
    width 50%
    margin-bottom 50px
    display flex
    &__icon
      width 30px
      margin-left 10px
      margin-right 20px
      margin-top 5px
    &__text
      width calc(100% - 60px)
      h3
        margin-bottom 20px