.form-group
  label
    font-size 20px
    color #5c5c5c
    display block
    line-height normal
    margin-bottom 10px


input,
textarea,
select
  height 80px
  background none
  box-shadow: none
  border: 1px solid #808080
  box-sizing: border-box
  padding-left 20px
  font-size 20px
  font-family $Light
  outline: none
  border-radius: 5px
  display block
  color #bk
  +placeholder()
    font-size 20px
    font-family $Light
    color #808080


select 
  width 580px
  height 80px
  display block
.select2-selection.select2-selection--single,
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow
  height 80px
  display flex
  align-items center
  font-size: 20px
  outline: none
.select2-container .select2-selection--single .select2-selection__rendered
  padding-left 20px
input.select2-search__field
  height 40px


input[type='radio'],
input[type='checkbox']
  display none
  &:checked
    + label
        &::after
          opacity 1
  + label
    color #5c5c5c
    font-size 20px
    font-family $Light
    padding-left 30px
    position relative
    line-height 28px
    cursor pointer
    &::before
      content ''
      position absolute
      width 18px
      height 18px
      border: 2px solid #5c5c5c
      box-sizing: border-box
      position absolute
      left 0
      top 6px
      border-radius: 50%
    &::after
      content ''
      position absolute
      width 8px
      background #5c5c5c
      border-radius: 50%
      left 5px
      top 11px
      height 8px
      transition: all 0.5s ease-in-out
      opacity 0

input[type='checkbox']
  + label 
    font-family $Light
    color #808080
    &::before
      width 22px
      border: 1px solid #808080
      height 22px
      border-radius: 3px
    &::after
      opacity 0
      background url('../img/assets/quiz/check.svg') no-repeat center/contain 
      width 15px
      height 15px
      top 9px
      left 4px


button
  outline: none 
  cursor pointer