mixin sertificates(data)
  section.sertificates
    .content
      .title
        h2 Наша компания 
          span официально авторизована 
          br
          | для оказания ремонтных услуг
      .subtitle
        h3 У нас есть все необходимые сертификаты
      

      .sertificates-items

        //- Sertificates Item
        a(href="static/img/assets/sertificates/sb2.jpg" data-fancybox='sertificates').sertificates-item
          img(src="static/img/assets/sertificates/s1.jpg", alt="Sertificate")
        
        //- Sertificates Item
        a(href="static/img/assets/sertificates/sb2.jpg" data-fancybox='sertificates').sertificates-item
          img(src="static/img/assets/sertificates/s2.jpg", alt="Sertificate")
        
        //- Sertificates Item
        a(href="static/img/assets/sertificates/sb3.jpg" data-fancybox='sertificates').sertificates-item
          img(src="static/img/assets/sertificates/s3.jpg", alt="Sertificate")
        