mixin price(data)
  section.price
    .content
      .title
        h2 
          span ХХ лет  
          | мы специализируемся на проверенных
          br
          | временем  
          span V-образных двигателях
      
      .price-tagline
        h3 Цены на популярные модели двигателей

      .price-wrapper  


        //- Price Row
        .price-row
          .price-cell
            span Модель
          .price-cell
            span л.с./Н*м
          .price-cell
            span Применяемость
          .price-cell
            span Цена, руб
          .price-cell
            a(href='#') Узнать точную цену

        //- Price Row
        .price-row
          .price-cell
            span ЯМЗ-236М2
          .price-cell
            span 180/2100
          .price-cell
            span Автомобили, сельхозтехника, краны, Т-150 с Комплектом Переоборудования
          .price-cell
            span от 230 000
          .price-cell
            a(href='#') Узнать точную цену
        
        //- Price Row
        .price-row
          .price-cell
            span ЯМЗ-236Г
          .price-cell
            span 150/1700
          .price-cell
            span Спецтехника
          .price-cell
            span от 230 000
          .price-cell
            a(href='#') Узнать точную цену
        
        //- Price Row
        .price-row
          .price-cell
            span ЯМЗ-236Д
          .price-cell
            span 175/2100
          .price-cell
            span Тракторы Т-150К-09, ХТЗ-17221
          .price-cell
            span от 240 000
          .price-cell
            a(href='#') Узнать точную цену
        
        //- Price Row
        .price-row
          .price-cell
            span ЯМЗ-238Б
          .price-cell
            span 300/2100
          .price-cell
            span Автомобили МАЗ, спецтехника
          .price-cell
            span от 310 000
          .price-cell
            a(href='#') Узнать точную цену
        
        //- Price Row
        .price-row
          .price-cell
            span ЯМЗ-238Д
          .price-cell
            span 330/2100
          .price-cell
            span Автомобили МАЗ, КрАЗ, МЗКТ
          .price-cell
            span от 310 000
          .price-cell
            a(href='#') Узнать точную цену
      
        //- Price Row
        .price-row
          .price-cell
            span ЯМЗ-238НД4-1
          .price-cell
            span 250/1900
          .price-cell
            span Тракторы Т-15.01Я, 221Я «Промтрактор»
          .price-cell
            span от 430 000
          .price-cell
            a(href='#') Узнать точную цену
      
        //- Price Row
        .price-row
          .price-cell
            span ЯМЗ-238НД5
          .price-cell
            span 300/1900
          .price-cell
            span Тракторы К-744Р «Кировец»
          .price-cell
            span от 330 000
          .price-cell
            a(href='#') Узнать точную цену

        //- Price Row
        .price-row
          .price-cell
            span ЯМЗ-240М2
          .price-cell
            span 360/2100
          .price-cell
            span Карьерные самосвалы БелАЗ-75404 и мод.(общ.)
          .price-cell
            span от 450 000
          .price-cell
            a(href='#') Узнать точную цену


      .price-bottom
        .price-bottom__tl
          h3 Ознакомьтесь с полным прайс-листом
        .price-bottom__button
          a(href='#' target='_blank').button.button-pdf 
            .button-text
              span Скачать прайс-лист
              span pdf, 2.5 MB