mixin contacts(data)
  section.contacts
    #map
      script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac929181196472d0574b59aecdc7b6c99f9eb117f13420623a1f37f294cbf9c8d&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=false")
    .content
      .contacts-pop
        span 150044, г.Ярославль, ул. Промышленная, д.1, стр.3, оф.308