mixin save(data)
  section.save
    .content
      .title
        h2 
          span Вы заметно экономите. 
          |  Мы постоянно работаем 
          br
          |  над снижением стоимости двигателей
      
      .save-items

        //- Save Item
        .save-item
          .save-item__photo
            img(src="static/img/assets/save/s1.jpg", alt="Save Image")
          .save-item__title
            h3 Мы работаем
              br
              | без посредников
          .save-item__text
            p Все ремонтные и слесарные работы проводим только своими силами и на собственных станках


        //- Save Item
        .save-item
          .save-item__photo
            img(src="static/img/assets/save/s2.jpg", alt="Save Image")
          .save-item__title
            h3 Есть собственное
              br
              | производство
          .save-item__text
            p Мы сами производим и устанавливаем некоторые запчасти: водяные насосы, крыльчатку, приводы вентилятора, и натяжные устройства
        

        //- Save Item
        .save-item
          .save-item__photo
            img(src="static/img/assets/save/s3.jpg", alt="Save Image")
          .save-item__title
            h3 Предлагаем
              br
              | варианты
          .save-item__text
            p Мы предложим Вам несколько вариантов двигателей, даже самый бюджетный. Выбирайте наиболее подходящий